*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
h1{
  margin: 0;
}
.bodyContentContainer{
  width: 100vw;
  padding-top: 10vh;
}
.navbar{
  padding: 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-direction: row;
  background-color: #f2a428;
}
.titleAndLogoContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
}
.title{
  margin-right: 10px;
}
.navbarLogo{
  height: 8vh;
}
.navLink{
  margin: 5px;
}
.navPageLinkContainer{
  width: 30%;
  margin: auto;
  text-align: right;
}
.navSocialLinkContainer{
  width: 25%;
  margin: auto;
  text-align: right;
}
.footer{
  left: 0;
  bottom: 0;
  width: 100vw;
  height: 15vh;
  text-align: center;
  padding: 15px;
}
.footerLinkList{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.footerLink{
  margin-left: 5px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.footerLinkLogo{
  height: 20px;
  width: 20px;
  margin: auto;
}