---
import Navbar from "../components/navbar.astro"
import "../styles/global.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/TinyTableIconEmptyBackground.png" />
    <meta name="viewport" content="width=device-width" />
    <title>Tiny Table - GameLog</title>
  </head>
  <body>
    <div>
      <Navbar />
    </div>
  </body>
