<div class="footer">
  <div>
    Listen Here!
  </div>
  <div class="footerLinkList">
    <a href="https://www.patreon.com/TinyTablePodcast" class="footerLink" target="_blank"><img><p>Patreon</p></a>
    <a href="https://open.spotify.com/show/5qoPken8iUUxGENCbHbUZt" class="footerLink" target="_blank"><img class="footerLinkLogo" src="/SpotifyIcon.png"><p>Spotify</p></a>
    <a href="https://tinytablebusiness.podbean.com/" class="footerLink" target="_blank"><img><p>Podbean</p></a>
    <a href="https://podcasts.apple.com/us/podcast/tiny-table/id1735443024" class="footerLink" target="_blank"><img><p>Apple Podcasts</p></a>
    <a href="https://music.amazon.com/identity/who-is-listening?customerFlow=firstTimeCustomer&returnTo=https%3A%2F%2Fmusic.amazon.com%2Fpodcasts%2F204798ae-21de-49ab-b9ab-2743ca49446d" class="footerLink" target="_blank"><img><p>Amazon Music</p></a>
    <a href="https://www.iheart.com/podcast/1323-tiny-table-159136330/" class="footerLink" target="_blank"><img><p>iHeartRadio</p></a>
    <a href="https://www.podchaser.com/podcasts/tiny-table-5652158" class="footerLink" target="_blank"><img><p>Podchaser</p></a>
    <a href="https://www.boomplay.com/podcasts/94176" class="footerLink" target="_blank"><img><p>Boomplay</p></a>
  </div>
</div>