<div class="navbar">
  <div class="titleAndLogoContainer">
    <img class="navbarLogo" src="/TinyTableIconEmptyBackground.png">
    <h1>Tiny Table</h1>
  </div>
  <div class="navPageLinkContainer">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/games">GameLog</a>
  </div>
  <div class="navSocialLinkContainer">
    <a href="https://open.spotify.com/show/5qoPken8iUUxGENCbHbUZt">Spotify</a>
  </div>
</div>
