<div class="navbar">
  <div class="titleAndLogoContainer">
    <h1>Tiny Table</h1>
  </div>
  <div class="navLinkContainer">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/games">GameLog</a>

  </div>
</div>
